* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;

  /* 
	Fix white space at top of website, see
	https://stackoverflow.com/questions/54059183/why-is-there-white-space-at-the-top-of-my-html-css-website
   */
  // overflow: ; /* hidden or auto */
}

*, *:before, *:after {
  box-sizing: inherit;
}